@import url('__author/footer__author.css');
@import url('__column_content_copyright/footer__column_content_copyright.css');
@import url('__columns/footer__columns.css');
@import url('__social-icon/footer__social-icon.css');


.footer {
  min-height: 350px;
  background:#000;
  color: #fff;
  padding-top: 1px;
  flex-basis: 711px;
  display: flex;

}
